<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Palette Generator</title>
    <link rel="stylesheet" href="app.css">
    <meta name="google" content="notranslate">

</head>
<body>
    <!-- Background video -->
    <video autoplay muted loop id="bg-video">
        <source src="{{ url_for('static', filename='videoplayback.mp4') }}" type="video/mp4">
    </video>
    <!-- Overlay -->
    

    <!-- Main app container -->
    <div class="container"></div>

    <!-- Prompt form -->
    <form id="form">
        <input type="text" name="query" placeholder="Enter a theme (e.g. Ocean Breeze)">
        <button>Generate Palette</button>
    </form>

    <script src="app.js"></script>
</body>

</html>